.take-away-page-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    overflow-x: hidden;
    background-color: #EFE8DF;
    padding-top: 10.5vh;
    padding-bottom: 7vh;
    font-weight: 300;
    .article{
        font-size: 1.75em;
        font-weight: 600;
        padding: 8px;
        &:nth-child(2){
            font-size: 1.5em;
            padding: 1rem 0 1rem 0;
            font-weight: 500;
        }
    }
    .main-container{
        background-color: #FFFFFF;
        width: 65%;
        padding: 1em;
        box-sizing: border-box;
        .header-section{
            display: flex;
            flex-direction: column;
            .top{
                .date{
                    background-color: #FFFFFF;
                    padding: 0.75em 1em 0.75em 1em;
                    border: 1px solid black;
                    cursor: pointer;
                    &:hover{
                        background-color: #F2F2F2;
                    }
                }
                .date-picker{
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    background-color: #FFFFFF;
                    padding: 1.25em;
                    .top{
                        display: flex;
                        justify-content: space-between;
                        p{
                            font-size: 1.15em;
                            font-weight: 500;
                        }
                        svg{
                            transition: 0.2s ease;
                            cursor: pointer;
                            &:hover{
                                color: gray;
                                transition: 0.2s ease;
                            }
                        }
                    }
                    .pick-from{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        p{
                            &:nth-child(1){
                                font-size: 0.8em;
                                font-weight: 500;
                            }
                            &:nth-child(2){
                                font-size: 0.9em;
                            }
                        }
                    }
                    .pick-time{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding-bottom: 1.25em;
                        border-bottom: 1px solid lightgray;
                        p{
                            font-size: 0.8em;
                            font-weight: 500;
                        }
                    }
                    .buttons{
                        display: flex;
                        justify-content: flex-end;
                        gap: 1em;
                        button{
                            width: 18%;
                            padding: 0.8em 1.25em 0.8em 1.25em;
                            transition: 0.2s ease;
                            cursor: pointer;
                            &:nth-child(1){
                                background-color: #FFFFFF;
                                color: #9C7C5C;
                                border: 1px solid #9C7C5C;
                            }
                            &:nth-child(2){
                                background-color: #9C7C5C;
                                color: #FFFFFF;
                                border: 1px solid transparent;
                            }
                            &:hover{
                                opacity: 0.8;
                                transition: 0.2s ease;
                            }
                        }
                    }
                }
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgb(199, 199, 199);
                .sections{
                    display: flex;
                    width: 60%;
                    gap: 2%;
                    label{
                        cursor: pointer;
                        input{
                            display: none;
                        }
                        span{
                            display: flex;
                            align-items: center;
                            padding: 1em;
                        }
                        &:hover{
                            span{
                                border-bottom: 2px solid gray;
                            }
                        }
                    }
                    input[type="radio"]:checked + span {
                      border-bottom: 2px solid #d62828;
                    }
                }
                .basket-empty{
                    display: flex;
                    align-items: center;
                    font-size: 1em;
                    transition: 0.2s ease;
                    padding: 0 1em 0 1em;
                    margin-bottom: 1em;
                    cursor: pointer;
                    .cart{
                        display: none;
                    }
                    svg{
                        font-size: 1.25em;
                    }
                    &:hover{
                        color: rgb(123, 123, 123);
                        transition: 0.2s ease;
                    }
                }
                .basket-filled{
                    background-color: #9C7C5C;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    padding: 0 1em 0 1em;
                    margin-bottom: 1em;
                    gap: 6px;
                    font-size: 1em;
                    transition: 0.2s ease;
                    cursor: pointer;
                    svg{
                        font-size: 1.25em;
                    }
                    &:hover{
                        opacity: 0.8;
                        transition: 0.2s ease;
                    }
                }
            }
        }
        .section-wrapper{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .section{
                display: flex;
                flex-direction: column;
                .wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6%;
                }
            }
        }
    }
}

// Food Box Container
.food-box{
    width: 28%;
    min-height: 55vh;
    max-height: 55vh;
    margin-top: 2em;
    .food-cart{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 35%;
        height: 90%;
        position: relative;
        .top{
            height: 70%;
            img{
                width: 100%;
                height: 100%;
            }
            svg{
                font-size: 2em;
                position: absolute;
                right: 10px;
                top: 10px;
                background-color: #FFFFFF;
                border-radius: 50%;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover{
                    background-color: #EFE8DF;
                    transition: 0.2s ease;
                }
            }
        }
        .middle{
            padding: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4px;
            height: 7%;
            p{
                &:nth-child(1){
                    font-size: 1.15em;
                    font-weight: 600;
                }
                &:nth-child(2){
                    font-size: 0.9em;
                }
            }
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 2px solid lightgray;
            padding: 1em;
            gap: 3%;
            height: 15%;
            .amount-button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid gray;
                color: gray;
                width: 15%;
                height: 80%;
                padding: 0 6px 0 6px;
                button{
                    border: none;
                    font-size: 1.5em;
                    color: gray;
                    cursor: pointer;
                    &:disabled{
                        color: rgb(172, 172, 172);
                        &:hover{
                            color: rgb(172, 172, 172);
                        }
                    }
                    &:hover{
                        color: black;
                    }
                }
                p{
                    font-size: 1.25em;
                }
                &:hover{
                    border-color: black;
                }
            }
            .add-btn{
                height: 80%;
                border: 1px solid transparent;
                background-color: #9C7C5C;
                color: #FFFFFF;
                width: 50%;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                    transition: 0.2s ease;
                }
            }
        }
    }
}
.food-box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    height: 100%;
    cursor: pointer;
    .details{
        display: flex;
        flex-direction: column;
        gap: 2px;
        box-sizing: border-box;
        padding: 1em;
        .food-name{
            font-size: 0.9em;
            font-weight: 600;
        }
        .food-ingredients{
            font-size: 0.8em;
        }
    }
    .food-price{
        padding: 1em;
    }
    &:hover{
        background-color: rgb(239, 239, 239);
        border-color: black;
    }
}
// Drawer
.drawer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    .section{
        display: flex;
        flex-direction: column;
        .top-side{
            padding: 1.5em;
            display: flex;
            justify-content: space-between;
        }
        .items{
            display: flex;
            flex-direction: column;
            .alert{
                align-self: center;
                font-size: 0.65em;
                color: gray;
                padding: 10px 0 20px 0;
            }
            .item-box{
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 2px;
                .details{
                    display: flex;
                    justify-content: space-between;
                }
                .remove{
                    font-size: 0.7em;
                    color: #9C7C5C;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        .note-button{
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            border-right: none;
            border-left: none;
            width: 100%;
            text-align: left;
            padding: 1em;
            background-color: #FFFFFF;
            color: #9C7C5C;
            font-size: 1.05rem;
            cursor: pointer;
            &:hover{
                background-color: #efefef;
            }
        }
        .input-section{
            display: flex;
            flex-direction: column;
            gap: 4px;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            border-right: none;
            border-left: none;
            width: 100%;
            padding: 1em;
            p{
                font-size: 0.8em;
            }
            input{
                width: 70%;
                padding: 10px;
            }
        }
        .prices{
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            .price{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .continue-btn{
        padding: 1em;
        margin: 1.25em;
        background-color: #9C7C5C;
        border: 1px solid transparent;
        color: #FFFFFF;
        transition: 0.2s ease;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
            transition: 0.2s ease;
        }
        &:disabled{
            background-color: #a1a1a1;
            cursor: default;
            &:hover{
                opacity: 1;
            }
        }
    }
}